# Python caches
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Local virtual environments
.venv/
venv/
env/
*.egg-info/
*.egg

# Environment variables / secrets
.env

# Data files 
data/
